<li dropdown
    (onToggle)="toggle($event)"
    class="selector selector-primary">
  
  <a class="dropdown-toggle"
     dropdownToggle>
    {{selected}}
    <span class="caret"></span>
  </a>
  
  <ul class="dropdown-menu" dropdownMenu>
    <li class="dropdown-search"
        *ngIf="displaySearch">
      <input #dropsearch
             type="text"
             [placeholder]="searchPlaceholder"
             (keyup)="filterItems($event.target.value)"/>
    </li>
    
    <li *ngFor="let item of filteredItems"
        (click)="select(item)">
      <a *ngIf="item.routerLink"
         routerLinkActive="active"
         [routerLink]="item.routerLink">
        {{item.label}}
      </a>
      <a *ngIf="!item.routerLink">
        {{item.label}}
      </a>
    </li>
    
    <li *ngIf="!filteredItems.length"
         class="empty-state">
       <span>No Matches</span>
     </li>
  </ul>
</li>
